@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-color{
  color: #00f7ff;
}

.text-color-addr{
  color: #f2912a;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up,
.down {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

button svg {
  fill: currentColor;
}

.instagram {
  color: #e1306c;
}

.facebook {
  color: #1877f2;
}

.whatsapp {
  color: #25d366;
}

.gmail {
  color: #ea4335;
}
